body{
font-family: Arial, sans-serif;
margin:0;
background:#f5f7fb;
color:#222;
}

section{
padding:40px;
margin:20px;
background:white;
border-radius:15px;
}

.hero{
text-align:center;
background:#dceeff;
}

h1{
font-size:45px;
}

h2{
color:#0066cc;
}

a{
text-decoration:none;
}

ul{
line-height:2;
}
